<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NINJA BONUS</title>
</head>

<div class="grid place-content-center ">
    <h1 class="text-4xl font-bold ">The Ninja Got The Strength Bonus!</h1>
    
    <img src="https://image.shutterstock.com/image-vector/arm-bicep-strong-hand-icon-260nw-1432386452.jpg" alt="n_bonus">
    
    
    <h2 class="text-2xl font-bold grid place-content-around m-5">Ninjas strength +{{bonus}}</h2>
    
    
    <a href="/ninja/lunge" class = "border-double border-4 border-indigo-600 bg-slate-300 rounded grid place-content-around">Launch a lunge attack at the pirate!</a>

</div>