<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PIRATE  STRIKE</title>
</head>

<div class="grid place-content-center ">
    <h1 class="text-2xl font-bold">You Ninjas Have No Defense!</h1>
    <div class="border-solid border-2 border-zinc-900 my-10 grid place-content-around">
        <h3 class="font-bold ">Michelangelos Health:{{michelangelo.health}}</h3>
        <h3 class="font-bold ">Jack Sparrows Health: {{jack_sparrow.health}}</h3>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAw5FYWBqW4jRgEcdMNDvc2uNnM6PTvxm4cX1YE5WPzOZr7bZw6DR22ZA-cSHSGGKyEok&usqp=CAU" alt="attack_jack">
    
    <a href="/keep/fighting" class="border-double border-4 border-indigo-600 bg-slate-300 rounded grid place-content-around"> Keep Fighting!</a>

</div>
