<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PIRATE VS NINJA</title>
  </head>

  <div class="grid place-content-around">
    <h1 class="font-bold text-2xl">
      WELCOME TO THE SHOWDOWN OF THE PIRATE VS THE NINJA!!!
    </h1>

    <img
      src="https://cdn.pixabay.com/photo/2018/03/08/17/35/sword-3209229_960_720.png"
      alt="sword"class="animate-spin h-15 w-25 m-10 place-content-evenly drop-shadow-2xl -z-10"/>

    <div class="grid place-content-center">
      <a
        href="/ninja_stats"
        class="border-double border-4 border-indigo-600 bg-slate-300 rounded grid place-content-around">
        Show Ninja Stats
      </a>
      <a
        href="/pirate_stats"
        class="border-double border-4 border-indigo-600 bg-slate-300 rounded grid place-content-around">
        Show Pirate Stats
      </a>
      <a
        href="/run/game"
        class="border-double border-4 border-indigo-600 bg-amber-400 rounded grid place-content-around">
        Run the Game!!
      </a>
    </div>
  </div>
</html>
